Equipo 7/set.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.w3schools.com"
    xmlns="https://www.w3schools.com"
    elementFormDefault="qualified"

    <xs:element name="solicitudDeEntrada">
        <xs:sequence>
            <xs:element name="emisor" type="emisor"/>
            <xs:element name="receptor" type="receptor"/>
            <xs:element name="tienda" type="tienda"/>
            <xs:element name="tipo" type="tipo" fixed="set" />
            <xs:element name="hora" type="xs:time" />
        </xs:sequence>
    </xs:element>


</xs:schema>




