Equipo 7/set.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Sol_Entrada_Tienda">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="emisor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IP" type="xs:string" />
                    <xs:element name="ID" type="xs:unsignedByte" />
                    <xs:element name="tipo" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="receptor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IP" type="xs:string" />
                    <xs:element name="ID" type="xs:unsignedByte" />
                    <xs:element name="tipo" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="info_msg">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tipo_mensaje" type="xs:string" />
                    <xs:element name="hora" type="xs:datetime" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="encoding" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
