Mensajes/XML validados y que sirven para que hagais los vuestros/mit.xsd

<?xml version="1.0"?>

<!-- Define la estructura del mensaje -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:include schemaLocation="Infomensaje.xsd"/>
    <xs:include schemaLocation="tiendas.xsd"/>

    <xs:element name="mit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="infoMensaje" type="infoMensaje"/>
                <xs:element name="lista_tiendas" type="lista_tiendas"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>