Mensajes/XML validados y que sirven para que hagais los vuestros/tiendas.xsd

<?xml version="1.0"?>

<!-- Solo define datos que teneis que utlizar en vuestros xml -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="tienda">
        <xs:sequence>
            <xs:element name="ip" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lista_tiendas">
        <xs:sequence>
            <xs:element name="tienda" type="tienda" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>