Mensajes/ack.xsd

<?xml version="1.0"?>

<!-- ¿Hacen falta los 3 atributos?-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           xmlns="https://www.w3schools.com"> 

<xs:include schemaLocation="Infomensaje.xsd"/>

<xs:complexType name="ack">
<xs:sequence>
  <xs:element name="infoMensaje" type="infoMensaje"/>
  <xs:element name="tipo_mensaje" type="xs:integer"/>
  <xs:element name="id_mensaje" type="ID"/>
</xs:sequence>
</xs:complexType>

</xs:schema>