Mensajes/mci.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:include schemaLocation="tiposBase.xsd"/>

    <!-- Mensaje de Configuracion Inicial-->
    <xs:element name="mci">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="infoMensaje" type="infoMensaje"/>
                <xs:element name="listaProductos" type="listaProductos"/>
                <xs:element name="listaTiendas" type="listaTiendas" minOccurs="0"/> 
                <!-- No llevara lista de tiendas si el destinatario es una tienda -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>