Mensajes/mip.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:include schemaLocation="tiposBase.xsd" />

    <!-- Mensaje de Info de Productos -->
    <xs:element name="mip">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="infoMensaje" type="infoMensaje" />
                <xs:element name="listaProductos" type="listaProductos" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>