Mensajes/msi.xsd

<?xml version="1.0"?>

<!-- ¿Hacen falta los 3 atributos?-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           xmlns="https://www.w3schools.com"> 

<xs:include schemaLocation="Infomensaje.xsd"/>

<!-- Mensaje de Solicitud de Inicio-->
<xs:complexType name="msi">
<xs:sequence>
  <xs:element name="infoMensaje" type="infoMensaje"/>
  <!-- <xs:element name="es_tienda" type="xs:boolean"/> --> <!-- Ya no hace falta, va en infoMensaje-->
</xs:sequence>
</xs:complexType>

</xs:schema>