Equipo 4/Infomensaje.xml

<?xml version="1.0"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           xmlns="https://www.w3schools.com"> 

    <xs:complexType name="infoMensaje">
        <xs:sequence> 
            <xs:element name="emisor" type="IdAgente"/> 
            <xs:element name="receptor" type="IdAgente"/> 
            <xs:element name="id" type="ID"/> 
            <xs:element name="protocolo" type="Protocolo"/> 
            <xs:element name="tipo" type="TipoMensaje"/> 
        </xs:sequence> 
    </xs:complexType>


    <xs:simpleType name="Protocolo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="alta"/>
            <xs:enumeration value="inicio_actividad"/>
            <xs:enumeration value="entrada_tienda"/>
            <xs:enumeration value="compra"/>
            <xs:enumeration value="solicitar_tiendas"/>
            <xs:enumeration value="salida_tienda"/>
            <xs:enumeration value="ACK"/>
            <xs:enumeration value="finalizacion"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TipoMensaje">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MSI"/>
            <xs:enumeration value="MCI"/>
            <xs:enumeration value="MEI"/>
            <xs:enumeration value="MAE"/>
            <xs:enumeration value="MSET"/>
            <xs:enumeration value="MSIP"/>
            <xs:enumeration value="MIP"/>
            <xs:enumeration value="MCP"/>
            <xs:enumeration value="MVP"/>
            <xs:enumeration value="MSIT"/>
            <xs:enumeration value="MIT"/>
            <xs:enumeration value="MSST"/>
            <xs:enumeration value="MFO"/>
            <xs:enumeration value="ACK"/>
            <xs:enumeration value="Eror"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="tipoIP">
        <xs:restriction base="xs:string">
			<xs:pattern value="([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:complexType name="ID">
        <xs:sequence>
            <xs:element name="ipemisor" type="tipoIP"></xs:element>
            <xs:element name="contador" type="xs:integer"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IdAgente">
        <xs:sequence>
            <xs:element name="IP" type="tipoIP"></xs:element>
            <xs:element name="ID" type="xs:integer"></xs:element>
            <xs:element name="tipo" type="tipoAgente"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="tipoAgente">
        <xs:restriction base="xs:string">
            <xs:enumeration value="monitor"/>
            <xs:enumeration value="comprador"/>
            <xs:enumeration value="tienda"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="MCP">
        <xs:sequence>
			<xs:element name="lista_de_productos" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="MVP">
        <xs:sequence>
			<xs:element name="lista_de_productos" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
 
