Equipo 1 y 5/msst.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.w3schools.com"
    xmlns="https://www.w3schools.com"
    elementFormDefault="qualified"
    xmlns:im="otro grupo">

    <xs:element name="mensaje">
        <xs:sequence>
            <xs:element name="emisor" type="im:emisor"/>
            <xs:element name="receptor" type="im:receptor"/>
            <xs:element name="tipo" type="im:tipo" fixed="MSST" />
        </xs:sequence>
    </xs:element>
    
</xs:schema>
