Equipo 1 y 5/tiendas.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.w3schools.com"
    xmlns="https://www.w3schools.com"
    elementFormDefault="qualified">

    <xs:complexType name="tipoTienda">
        <xs:sequence>
            <xs:element name="ip" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoTiendas">
        <xs:sequence>
            <xs:element name="tienda" type="tipoTienda" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
